{% extends "main/layout.html" %}
{% block title %}История{% endblock title %}
{% block content %}
    <body>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Номер расчета</th>
            <th scope="col">Защищаемая ЛЭП</th>
            <th scope="col">Дата расчета</th>
            <th scope="col">Отчет</th>
        </tr>
        </thead>
        <tbody>
        {% for calculation in calculations %}
            <tr>
                <td>{{ calculation.calculation_number }}</td>
                <td>{{ calculation.line }}</td>
                <td>{{ calculation.calculation_date }}</td>
                <td>
                    <a href="{% url 'results' calculation_meta_id=calculation.id %}">Открыть отчет</a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="3">Расчеты отсутствуют.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </body>
{% endblock content %}